SF_ACCOUNT=<enter your snowflake account>
SF_USER=<enter your snowflake account>
GIT_USEREMAIL=$SF_USER
GIT_USERNAME=papy-brossard
S3_AWS_ROLE_ARN=arn:aws:iam::<your account id>:role/<aws role name>
S3_BUCKET_LAKE=s3://<s3 bucket to use for lakehouse>/
S3_BUCKET_LANDING=s3://<S3 bucket to use for new raw data to load>/
