SNOWFLAKE_ACCOUNT=<enter your snowflake account>
SNOWFLAKE_USER=<enter your snowflake account>
GIT_USEREMAIL=<enter your git user email>
GIT_USERNAME=<enter your git user name>
S3_LANDING_ROLE_ARN=<aws role arn for your S3 buckets>
S3_LANDING_BUCKET=<your s3 bucket for the landing>
S3_LAKE_ROLE_ARN=<arn role to use for the lakehouse on S3>
S3_LAKE_BUCKET=<your s3 bucket for the lake>
S3_LAKE_EXTERNAL_ID=<snowflake lakehouse external id for S3>
GIT_REPO_URI=<your github repo>
